src/main/java/t1708e/asm/diduduadi/service/rate/rate.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="RatingServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://23.96.248.50:9000/rate?xsd=1"></xsd:import>
</xsd:schema>
</types>

<message name="getAllRate">
<part name="parameters" element="tns:getAllRate"></part>

</message>
<message name="getAllRateResponse">
<part name="parameters" element="tns:getAllRateResponse"></part>
</message>
<message name="getByUserIdAndPostId">
<part name="parameters" element="tns:getByUserIdAndPostId"></part>
</message>
<message name="getByUserIdAndPostIdResponse">
<part name="parameters" element="tns:getByUserIdAndPostIdResponse"></part>
</message>
<message name="deleteRate">
<part name="parameters" element="tns:deleteRate"></part>
</message>
<message name="deleteRateResponse">
<part name="parameters" element="tns:deleteRateResponse"></part>
</message>

<message name="updateRate">
<part name="parameters" element="tns:updateRate"></part>
</message>
<message name="updateRateResponse">
<part name="parameters" element="tns:updateRateResponse"></part>
</message>
<message name="createRate">
<part name="parameters" element="tns:createRate"></part>
</message>
<message name="createRateResponse">
<part name="parameters" element="tns:createRateResponse"></part>
</message>
<portType name="RatingService">
<operation name="getAllRate">
<input wsam:Action="http://service/RatingService/getAllRateRequest" message="tns:getAllRate"></input>
<output wsam:Action="http://service/RatingService/getAllRateResponse" message="tns:getAllRateResponse"></output>

</operation>
<operation name="getByUserIdAndPostId">
<input wsam:Action="http://service/RatingService/getByUserIdAndPostIdRequest" message="tns:getByUserIdAndPostId"></input>
<output wsam:Action="http://service/RatingService/getByUserIdAndPostIdResponse" message="tns:getByUserIdAndPostIdResponse"></output>
</operation>

<operation name="deleteRate">
<input wsam:Action="http://service/RatingService/deleteRateRequest" message="tns:deleteRate"></input>
<output wsam:Action="http://service/RatingService/deleteRateResponse" message="tns:deleteRateResponse"></output>
</operation>
<operation name="updateRate">
<input wsam:Action="http://service/RatingService/updateRateRequest" message="tns:updateRate"></input>
<output wsam:Action="http://service/RatingService/updateRateResponse" message="tns:updateRateResponse"></output>
</operation>
<operation name="createRate">
<input wsam:Action="http://service/RatingService/createRateRequest" message="tns:createRate"></input>
<output wsam:Action="http://service/RatingService/createRateResponse" message="tns:createRateResponse"></output>

</operation>
</portType>
<binding name="RatingServicePortBinding" type="tns:RatingService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>

<operation name="getAllRate">

<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getByUserIdAndPostId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>

<operation name="deleteRate">

<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>

<operation name="updateRate">

<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>

<operation name="createRate">

<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="RatingServiceService">
<port name="RatingServicePort" binding="tns:RatingServicePortBinding">
<soap:address location="http://23.96.248.50:9000/rate"></soap:address>
</port>
</service>
</definitions>