src/main/java/t1708e/asm/diduduadi/service/rate/rate.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="RatingServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:9000/rate?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="update">
<part name="parameters" element="tns:update"></part>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"></part>
</message>
<message name="delete">
<part name="parameters" element="tns:delete"></part>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"></part>
</message>
<message name="create">
<part name="parameters" element="tns:create"></part>
</message>
<message name="createResponse">
<part name="parameters" element="tns:createResponse"></part>
</message>
<message name="getAll">
<part name="parameters" element="tns:getAll"></part>
</message>
<message name="getAllResponse">
<part name="parameters" element="tns:getAllResponse"></part>
</message>
<message name="getByUserIdAndPostId">
<part name="parameters" element="tns:getByUserIdAndPostId"></part>
</message>
<message name="getByUserIdAndPostIdResponse">
<part name="parameters" element="tns:getByUserIdAndPostIdResponse"></part>
</message>
<portType name="RatingService">
<operation name="update">
<input wsam:Action="http://service/RatingService/updateRequest" message="tns:update"></input>
<output wsam:Action="http://service/RatingService/updateResponse" message="tns:updateResponse"></output>
</operation>
<operation name="delete">
<input wsam:Action="http://service/RatingService/deleteRequest" message="tns:delete"></input>
<output wsam:Action="http://service/RatingService/deleteResponse" message="tns:deleteResponse"></output>
</operation>
<operation name="create">
<input wsam:Action="http://service/RatingService/createRequest" message="tns:create"></input>
<output wsam:Action="http://service/RatingService/createResponse" message="tns:createResponse"></output>
</operation>
<operation name="getAll">
<input wsam:Action="http://service/RatingService/getAllRequest" message="tns:getAll"></input>
<output wsam:Action="http://service/RatingService/getAllResponse" message="tns:getAllResponse"></output>
</operation>
<operation name="getByUserIdAndPostId">
<input wsam:Action="http://service/RatingService/getByUserIdAndPostIdRequest" message="tns:getByUserIdAndPostId"></input>
<output wsam:Action="http://service/RatingService/getByUserIdAndPostIdResponse" message="tns:getByUserIdAndPostIdResponse"></output>
</operation>
</portType>
<binding name="RatingServicePortBinding" type="tns:RatingService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="update">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="delete">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getAll">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getByUserIdAndPostId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="RatingServiceService">
<port name="RatingServicePort" binding="tns:RatingServicePortBinding">
<soap:address location="http://localhost:9000/rate"></soap:address>
</port>
</service>
</definitions>