src/main/java/t1708e/asm/diduduadi/service/post/post.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="PostServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://23.96.248.50:9000/post?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getAllPost">
<part name="parameters" element="tns:getAllPost"></part>
</message>
<message name="getAllPostResponse">
<part name="parameters" element="tns:getAllPostResponse"></part>
</message>
<message name="getByIdPost">
<part name="parameters" element="tns:getByIdPost"></part>
</message>
<message name="getByIdPostResponse">
<part name="parameters" element="tns:getByIdPostResponse"></part>
</message>
<message name="updatePost">
<part name="parameters" element="tns:updatePost"></part>
</message>
<message name="updatePostResponse">
<part name="parameters" element="tns:updatePostResponse"></part>
</message>
<message name="deletePost">
<part name="parameters" element="tns:deletePost"></part>
</message>
<message name="deletePostResponse">
<part name="parameters" element="tns:deletePostResponse"></part>
</message>
<message name="createPost">
<part name="parameters" element="tns:createPost"></part>
</message>
<message name="createPostResponse">
<part name="parameters" element="tns:createPostResponse"></part>
</message>
<portType name="PostService">
<operation name="getAllPost">
<input wsam:Action="http://service/PostService/getAllPostRequest" message="tns:getAllPost"></input>
<output wsam:Action="http://service/PostService/getAllPostResponse" message="tns:getAllPostResponse"></output>
</operation>
<operation name="getByIdPost">
<input wsam:Action="http://service/PostService/getByIdPostRequest" message="tns:getByIdPost"></input>
<output wsam:Action="http://service/PostService/getByIdPostResponse" message="tns:getByIdPostResponse"></output>
</operation>
<operation name="updatePost">
<input wsam:Action="http://service/PostService/updatePostRequest" message="tns:updatePost"></input>
<output wsam:Action="http://service/PostService/updatePostResponse" message="tns:updatePostResponse"></output>
</operation>
<operation name="deletePost">
<input wsam:Action="http://service/PostService/deletePostRequest" message="tns:deletePost"></input>
<output wsam:Action="http://service/PostService/deletePostResponse" message="tns:deletePostResponse"></output>
</operation>
<operation name="createPost">
<input wsam:Action="http://service/PostService/createPostRequest" message="tns:createPost"></input>
<output wsam:Action="http://service/PostService/createPostResponse" message="tns:createPostResponse"></output>
</operation>
</portType>
<binding name="PostServicePortBinding" type="tns:PostService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getAllPost">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getByIdPost">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="updatePost">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="deletePost">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="createPost">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="PostServiceService">
<port name="PostServicePort" binding="tns:PostServicePortBinding">
<soap:address location="http://23.96.248.50:9000/post"></soap:address>
</port>
</service>
</definitions>