src/main/java/t1708e/asm/diduduadi/service/place/place1.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="PlaceServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:9000/place?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getList">
<part name="parameters" element="tns:getList"></part>
</message>
<message name="getListResponse">
<part name="parameters" element="tns:getListResponse"></part>
</message>
<message name="detail">
<part name="parameters" element="tns:detail"></part>
</message>
<message name="detailResponse">
<part name="parameters" element="tns:detailResponse"></part>
</message>
<message name="updatePlace">
<part name="parameters" element="tns:updatePlace"></part>
</message>
<message name="updatePlaceResponse">
<part name="parameters" element="tns:updatePlaceResponse"></part>
</message>
<message name="createPlace">
<part name="parameters" element="tns:createPlace"></part>
</message>
<message name="createPlaceResponse">
<part name="parameters" element="tns:createPlaceResponse"></part>
</message>
<portType name="PlaceService">
<operation name="getList">
<input wsam:Action="http://service/PlaceService/getListRequest" message="tns:getList"></input>
<output wsam:Action="http://service/PlaceService/getListResponse" message="tns:getListResponse"></output>
</operation>
<operation name="detail">
<input wsam:Action="http://service/PlaceService/detailRequest" message="tns:detail"></input>
<output wsam:Action="http://service/PlaceService/detailResponse" message="tns:detailResponse"></output>
</operation>
<operation name="updatePlace">
<input wsam:Action="http://service/PlaceService/updatePlaceRequest" message="tns:updatePlace"></input>
<output wsam:Action="http://service/PlaceService/updatePlaceResponse" message="tns:updatePlaceResponse"></output>
</operation>
<operation name="createPlace">
<input wsam:Action="http://service/PlaceService/createPlaceRequest" message="tns:createPlace"></input>
<output wsam:Action="http://service/PlaceService/createPlaceResponse" message="tns:createPlaceResponse"></output>
</operation>
</portType>
<binding name="PlaceServicePortBinding" type="tns:PlaceService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="detail">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="updatePlace">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="createPlace">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="PlaceServiceService">
<port name="PlaceServicePort" binding="tns:PlaceServicePortBinding">
<soap:address location="http://localhost:9000/place"></soap:address>
</port>
</service>
</definitions>