src/main/java/t1708e/asm/diduduadi/service/comment/comment.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="CommentServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://23.96.248.50:9000/comment?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="createComment">
<part name="parameters" element="tns:createComment"></part>
</message>
<message name="createCommentResponse">
<part name="parameters" element="tns:createCommentResponse"></part>
</message>
<message name="getListComment">
<part name="parameters" element="tns:getListComment"></part>
</message>
<message name="getListCommentResponse">
<part name="parameters" element="tns:getListCommentResponse"></part>
</message>
<message name="updateComment">
<part name="parameters" element="tns:updateComment"></part>
</message>
<message name="updateCommentResponse">
<part name="parameters" element="tns:updateCommentResponse"></part>
</message>
<message name="detailComment">
<part name="parameters" element="tns:detailComment"></part>
</message>
<message name="detailCommentResponse">
<part name="parameters" element="tns:detailCommentResponse"></part>
</message>
<portType name="CommentService">
<operation name="createComment">
<input wsam:Action="http://service/CommentService/createCommentRequest" message="tns:createComment"></input>
<output wsam:Action="http://service/CommentService/createCommentResponse" message="tns:createCommentResponse"></output>
</operation>
<operation name="getListComment">
<input wsam:Action="http://service/CommentService/getListCommentRequest" message="tns:getListComment"></input>
<output wsam:Action="http://service/CommentService/getListCommentResponse" message="tns:getListCommentResponse"></output>
</operation>
<operation name="updateComment">
<input wsam:Action="http://service/CommentService/updateCommentRequest" message="tns:updateComment"></input>
<output wsam:Action="http://service/CommentService/updateCommentResponse" message="tns:updateCommentResponse"></output>
</operation>
<operation name="detailComment">
<input wsam:Action="http://service/CommentService/detailCommentRequest" message="tns:detailComment"></input>
<output wsam:Action="http://service/CommentService/detailCommentResponse" message="tns:detailCommentResponse"></output>
</operation>
</portType>
<binding name="CommentServicePortBinding" type="tns:CommentService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="createComment">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getListComment">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="updateComment">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="detailComment">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="CommentServiceService">
<port name="CommentServicePort" binding="tns:CommentServicePortBinding">
<soap:address location="http://23.96.248.50:9000/comment"></soap:address>
</port>
</service>
</definitions>