src/main/java/t1708e/asm/diduduadi/service/image/image.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="ImageServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://23.96.248.50:9000/image?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getAll">
<part name="parameters" element="tns:getAll"></part>
</message>
<message name="getAllResponse">
<part name="parameters" element="tns:getAllResponse"></part>
</message>
<message name="getById">
<part name="parameters" element="tns:getById"></part>
</message>
<message name="getByIdResponse">
<part name="parameters" element="tns:getByIdResponse"></part>
</message>
<message name="update">
<part name="parameters" element="tns:update"></part>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"></part>
</message>
<message name="delete">
<part name="parameters" element="tns:delete"></part>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"></part>
</message>
<message name="create">
<part name="parameters" element="tns:create"></part>
</message>
<message name="createResponse">
<part name="parameters" element="tns:createResponse"></part>
</message>
<portType name="ImageService">
<operation name="getAll">
<input wsam:Action="http://service/ImageService/getAllRequest" message="tns:getAll"></input>
<output wsam:Action="http://service/ImageService/getAllResponse" message="tns:getAllResponse"></output>
</operation>
<operation name="getById">
<input wsam:Action="http://service/ImageService/getByIdRequest" message="tns:getById"></input>
<output wsam:Action="http://service/ImageService/getByIdResponse" message="tns:getByIdResponse"></output>
</operation>
<operation name="update">
<input wsam:Action="http://service/ImageService/updateRequest" message="tns:update"></input>
<output wsam:Action="http://service/ImageService/updateResponse" message="tns:updateResponse"></output>
</operation>
<operation name="delete">
<input wsam:Action="http://service/ImageService/deleteRequest" message="tns:delete"></input>
<output wsam:Action="http://service/ImageService/deleteResponse" message="tns:deleteResponse"></output>
</operation>
<operation name="create">
<input wsam:Action="http://service/ImageService/createRequest" message="tns:create"></input>
<output wsam:Action="http://service/ImageService/createResponse" message="tns:createResponse"></output>
</operation>
</portType>
<binding name="ImageServicePortBinding" type="tns:ImageService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getAll">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getById">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="update">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="delete">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="ImageServiceService">
<port name="ImageServicePort" binding="tns:ImageServicePortBinding">
<soap:address location="http://23.96.248.50:9000/image"></soap:address>
</port>
</service>
</definitions>