src/main/java/t1708e/asm/diduduadi/service/image/image.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="ImageServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://23.96.248.50:9000/image?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getByIdImage">
<part name="parameters" element="tns:getByIdImage"></part>
</message>
<message name="getByIdImageResponse">
<part name="parameters" element="tns:getByIdImageResponse"></part>
</message>
<message name="updateImage">
<part name="parameters" element="tns:updateImage"></part>
</message>
<message name="updateImageResponse">
<part name="parameters" element="tns:updateImageResponse"></part>
</message>
<message name="createImage">
<part name="parameters" element="tns:createImage"></part>
</message>
<message name="createImageResponse">
<part name="parameters" element="tns:createImageResponse"></part>
</message>
<message name="deleteImage">
<part name="parameters" element="tns:deleteImage"></part>
</message>
<message name="deleteImageResponse">
<part name="parameters" element="tns:deleteImageResponse"></part>
</message>
<message name="getAllImage">
<part name="parameters" element="tns:getAllImage"></part>
</message>
<message name="getAllImageResponse">
<part name="parameters" element="tns:getAllImageResponse"></part>
</message>
<portType name="ImageService">
<operation name="getByIdImage">
<input wsam:Action="http://service/ImageService/getByIdImageRequest" message="tns:getByIdImage"></input>
<output wsam:Action="http://service/ImageService/getByIdImageResponse" message="tns:getByIdImageResponse"></output>
</operation>
<operation name="updateImage">
<input wsam:Action="http://service/ImageService/updateImageRequest" message="tns:updateImage"></input>
<output wsam:Action="http://service/ImageService/updateImageResponse" message="tns:updateImageResponse"></output>
</operation>
<operation name="createImage">
<input wsam:Action="http://service/ImageService/createImageRequest" message="tns:createImage"></input>
<output wsam:Action="http://service/ImageService/createImageResponse" message="tns:createImageResponse"></output>
</operation>
<operation name="deleteImage">
<input wsam:Action="http://service/ImageService/deleteImageRequest" message="tns:deleteImage"></input>
<output wsam:Action="http://service/ImageService/deleteImageResponse" message="tns:deleteImageResponse"></output>
</operation>
<operation name="getAllImage">
<input wsam:Action="http://service/ImageService/getAllImageRequest" message="tns:getAllImage"></input>
<output wsam:Action="http://service/ImageService/getAllImageResponse" message="tns:getAllImageResponse"></output>
</operation>
</portType>
<binding name="ImageServicePortBinding" type="tns:ImageService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getByIdImage">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="updateImage">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="createImage">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="deleteImage">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getAllImage">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="ImageServiceService">
<port name="ImageServicePort" binding="tns:ImageServicePortBinding">
<soap:address location="http://23.96.248.50:9000/image"></soap:address>
</port>
</service>
</definitions>