src/main/java/t1708e/asm/diduduadi/service/user/user.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="UserServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:9000/user?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="delete">
<part name="parameters" element="tns:delete"></part>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"></part>
</message>
<message name="createUser">
<part name="parameters" element="tns:createUser"></part>
</message>
<message name="createUserResponse">
<part name="parameters" element="tns:createUserResponse"></part>
</message>
<message name="InvalidKeySpecException">
<part name="fault" element="tns:InvalidKeySpecException"></part>
</message>
<message name="NoSuchAlgorithmException">
<part name="fault" element="tns:NoSuchAlgorithmException"></part>
</message>
<message name="updateUser">
<part name="parameters" element="tns:updateUser"></part>
</message>
<message name="updateUserResponse">
<part name="parameters" element="tns:updateUserResponse"></part>
</message>
<message name="getList">
<part name="parameters" element="tns:getList"></part>
</message>
<message name="getListResponse">
<part name="parameters" element="tns:getListResponse"></part>
</message>
<message name="detail">
<part name="parameters" element="tns:detail"></part>
</message>
<message name="detailResponse">
<part name="parameters" element="tns:detailResponse"></part>
</message>
<portType name="UserService">
<operation name="delete">
<input wsam:Action="http://service/UserService/deleteRequest" message="tns:delete"></input>
<output wsam:Action="http://service/UserService/deleteResponse" message="tns:deleteResponse"></output>
</operation>
<operation name="createUser">
<input wsam:Action="http://service/UserService/createUserRequest" message="tns:createUser"></input>
<output wsam:Action="http://service/UserService/createUserResponse" message="tns:createUserResponse"></output>
<fault message="tns:InvalidKeySpecException" name="InvalidKeySpecException" wsam:Action="http://service/UserService/createUser/Fault/InvalidKeySpecException"></fault>
<fault message="tns:NoSuchAlgorithmException" name="NoSuchAlgorithmException" wsam:Action="http://service/UserService/createUser/Fault/NoSuchAlgorithmException"></fault>
</operation>
<operation name="updateUser">
<input wsam:Action="http://service/UserService/updateUserRequest" message="tns:updateUser"></input>
<output wsam:Action="http://service/UserService/updateUserResponse" message="tns:updateUserResponse"></output>
</operation>
<operation name="getList">
<input wsam:Action="http://service/UserService/getListRequest" message="tns:getList"></input>
<output wsam:Action="http://service/UserService/getListResponse" message="tns:getListResponse"></output>
</operation>
<operation name="detail">
<input wsam:Action="http://service/UserService/detailRequest" message="tns:detail"></input>
<output wsam:Action="http://service/UserService/detailResponse" message="tns:detailResponse"></output>
</operation>
</portType>
<binding name="UserServicePortBinding" type="tns:UserService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="delete">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="createUser">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="InvalidKeySpecException">
<soap:fault name="InvalidKeySpecException" use="literal"></soap:fault>
</fault>
<fault name="NoSuchAlgorithmException">
<soap:fault name="NoSuchAlgorithmException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="updateUser">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="detail">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="UserServiceService">
<port name="UserServicePort" binding="tns:UserServicePortBinding">
<soap:address location="http://localhost:9000/user"></soap:address>
</port>
</service>
</definitions>